body {
  font-family: Helvetica;
  text-align: center;
}
.headline {
  font-size: 70px;
  font-weight: bold;
}
.page_link {
  color: white;
  text-size: 18px;
}
.Broadway_cover {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.Designed {
  font-size: 23px;
  font-weight: bold;
}
.footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
  back
}
