body {
  font-family: Helvetica;
  text-align: center;
}
.headline {
  font-size: 70px;
  font-weight: bold;
}
.cover_link {
  color: white;
  text-size: 18px;
}
.Broadway_cover {
  background-image: url("/Users/Giedrius/Desktop/Projects/Broadway/resources/images/the-flatiron-building.png");
  color: white;
}
